{% extends "layouts/base.html" %}

{% block content %}
	<article class="register thin-centered">
		<h1>Create an Account</h1>
		
		<form action="." method="post">
			{% csrf_token %}
			<div>
				<label for="id_username">Username</label>
				<input id="id_username" type="text" name="username" maxlength="30" value="{{form.data.username}}">
				{{ form.username.errors }}
			</div>
			<p>
				<label for="id_email">Email address</label>
				<input id="id_email" type="text" name="email" maxlength="30" value="{{form.data.email}}">
				{{ form.email.errors }}
			</p>
			<p>
				<label for="id_password">Password</label>
				<input id="id_password" type="password" name="password" maxlength="30">
				{{ form.password.errors }}
			</p>
			<p>
				<label for="id_organization_name">Complete Organization Name</label>
				<input id="id_organization_name" name="organization_name" maxlength="30">
			</p>
			<p>
				<label for="id_organization_slug">Web-friendly Organization Name</label>
				<input id="id_organization_slug" name="organization_slug" maxlength="30">
				<span id="input_preview"></span>
			</p>
			<p>
				<label for="id_service_lookup">Lookup service</label>
				<select id="id_service_lookup" name="service_lookup">
					<option selected value="worldcat">worldcat</option>
					<option value="hollis">hollis</option>
    			</select>
			</p>
			<p>
				<label for="id_catalog_base_url">Base Catalog URL</label>
				<input id="id_catalog_base_url" name="catalog_base_url" maxlength="300"
			</p>
			<p>
				<label for="id_branch_name">Complete Branch Name</label>
				<input id="id_branch_name" name="branch_name" maxlength="30">
			</p>
			<p>
				<label for="id_branch_slug">Web-friendly Branch Name</label>
				<input id="id_branch_slug" name="branch_slug" maxlength="30">
				{{ form.branch_slug.errors }}
			</p>
			

			<button type="submit" class="button positive icon-ok immediate">Create Account</button>
		</form>
	</article>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">	
	$('input[name=organization_slug]').focus();

 	$('input[name=organization_slug]').on('propertychange keyup input paste', function() {
 		$('#input_preview').fadeIn("fast");
 	
		// Show the user what the url of the org will be
		var user_url = $(this).val()
		var slugged_user_url = user_url.replace(/\s+/g,'-').replace(/[^a-zA-Z0-9\-]/g,'').toLowerCase();
    	$('#input_preview').html('http://' + slugged_user_url + '.awesomebox.io');
 	});
</script>
{% endblock scripts %}