{% extends "layouts/base.html" %}

{% block content %}
	<article class="register thin-centered">
		<h1>Create an Account</h1>
		
		<form action="." method="post">
			{% csrf_token %}
			<div>
				<label for="id_username">Username</label>
				<input id="id_username" type="text" name="username" maxlength="30" value="{{form.data.username}}">
				<span id="input_preview"></span>
				{{ form.username.errors }}
			</div>
			<p>
				<label for="id_email">Email address</label>
				<input id="id_email" type="text" name="email" maxlength="30" value="{{form.data.email}}">
				{{ form.email.errors }}
			</p>
			<p>
				<label for="id_password">Password</label>
				<input id="id_password" type="password" name="password" maxlength="30">
				{{ form.password.errors }}
			</p>
			<button type="submit" class="button positive icon-ok immediate">Create Account</button>
		</form>
	</article>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">	
	$('input[name=username]').focus();

 	$('input[name=username]').on('propertychange keyup input paste', function() {
 		$('#input_preview').fadeIn("fast");
 	
		// Show the user what the url of the shelfname will be
		var user_url = $(this).val()
		var slugged_user_url = user_url.replace(/\s+/g,'-').replace(/[^a-zA-Z0-9\-]/g,'').toLowerCase();
    	$('#input_preview').html('http://shelf.io/' + slugged_user_url);
 	});
</script>
{% endblock scripts %}