<header id="branding">
	<span id="feeds"></span>
	<h1><a href="{% url landing %}">Awesome Box at {{organization.name}}</a></h1>
</header>

<header id="branding">
  <span id="feeds">
    <a href="feed" target="_blank">
<img src="{{ STATIC_PREFIX }}images/rss.png" class="rssIcon" alt="Awesome RSS" />
</a>
{% if twitter_username %}
<a href="http://twitter.com/#!/{{twitter_username}}" target="_blank">
<img src="{{ STATIC_PREFIX }}images/twitter.png" class="twitterIcon" alt="Follow {{twitter_username}} on Twitter" />
</a>
{% endif %}
</span>
	<h1>Awesome at the {{organization.name}}</h1>
</header>


{% include "partials/messages.html" %}