{% extends "layouts/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Controls | Awesome Box at the {{organization.name}}{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.css" type="text/css" />
<link rel="stylesheet" media="all" href="{{ STATIC_PREFIX }}css/awesome-newlook.css" />
{% endblock styles %}

{% block content %}
<body>
<div id="wrapper">
	
	{% include "partials/control-header.html" %}
	<div id="content">
	
		<article class="control thin-centered">
			<header>
				<h1>Control Organization</h1>
			</header>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success control-message">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
                {% endfor %}
            {% endif %}
			<form method="post" action="" class="control-form">
				{% csrf_token %}
				<fieldset>
		  <span class="text-error">{{ form.non_field_errors }}</span>
        {% for field in form %}
          <label for="id_{{ field.name }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}<br/>
            {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
          {%elif field.help_text %}
            <span class="help-inline help_{{ field.name }}">{{ field.help_text }}</span>
          {% endif %}
        {% endfor %}  
      </fieldset>
				<br />
				<input type="submit" value="Submit Form" class="btn btn-lg btn-custom" />
			</form>
		</article>
	
	</div><!-- end content -->
</div> <!-- end wrapper -->
{% endblock content %}

{% block scripts %}
<script src="{{ STATIC_PREFIX }}js/modernizr.custom.37797.js"></script> 
<!-- Grab Google CDN's jQuery. fall back to local if necessary --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="{{ STATIC_PREFIX }}/js/jquery-1.7.1.min.js"><\/script>')</script>
<script src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script> 
<script src="{{ STATIC_PREFIX }}js/control-org.js"></script> 

<script type="text/javascript">
var organization = "{{organization.slug}}";
var catalog_query = "{{organization.catalog_query}}";
var branch = "{{branch}}";        
</script>
{% endblock scripts %}