{% extends "layouts/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Controls | Awesome Box at the {{organization.name}}{% endblock title %}

{% block content %}
<body>
<div id="wrapper">
	{% include "partials/control-header.html" %}
	<div id="content">
		<article class="control thin-centered">
		
			<header>
				<h1>Control Center</h1>
			</header>
			{% comment %}
			{% if organization.catalog_query == 'notset' %}
			<div class="alert alert-info"><strong>Welcome!</strong> 
			<p>Let's link the items on your Awesome Box page to records in your catalog.  Go to your <a href="{% url 'control_org' %}">organization's info page</a> and enter a search URL for your catalog.</p>  
			<p>No idea what we're talking about?  Send us an email at <a href="mailto:info@awesomebox.io">info@awesomebox.io</a> and we'll take care of it.</p></div>
			{% elif num_items < 1 %}
			<div class="alert alert-info"><strong>All right!</strong> 
			<p>Let's Awesome something.  Go to your <a href="{% url 'scan' %}">scan page</a> and get out the old barcode scanner.</p>  
			</div>
			{% endif %}
			{% endcomment %}
			<p class="control_list"><a href="{% url 'scan' %}" {% if num_items < 1 %} id="scan-something" data-container="body" data-toggle="popover" data-placement="right"data-content="Let's Awesome something. Fire up the old barcode scanner." data-original-title="All right!"{% endif %}>Scan an item</a></p>		
			<p class="control_list"><a href="{% url 'control_item_delete' %}">Delete an item</a></p>
			<p class="control_list"><a href="{% url 'control_org' %}" {% if organization.catalog_query == 'notset' %} id="connect-catalog" data-container="body" data-toggle="popover" data-placement="right" data-content="Let's link the items on your Awesome Box page to records in your catalog." data-original-title="Welcome!"{% endif %}>Update your organization's info</a></p>
			<p class="control_list"><a href="{% url 'control_branch' %}">Branch management</a></p>
			<p class="control_list"><a href="{% url 'control_analytics' %}">Branch analytics</a></p>
			<p class="control_list"><a href="{% url 'control_twitter_config' %}">Manage Twitter integration</a></p>
			<p class="control_list"><a href="{% url 'control_widget' %}">Get a widget</a></p>
			<p class="control_list"><a href="{% url 'control_supplies' %}">Supplies to make boxes and signs</a></p>
			<p class="control_list"><a href="{% url 'auth_password_change' %}">Change your password</a></p>
			<p class="control_list"><a href="{% url 'control_help' %}">Help</a></p>
			<p class="control_list_export"><a href="{% url 'control_csv_export' %}">Export your Awesome items as CSV</a></p>
		</article>
	</div><!-- end content -->
</div> <!-- end wrapper -->
{% endblock content %}

{% block scripts %}
<script src="{{ STATIC_PREFIX }}js/modernizr.custom.37797.js"></script> 
<!-- Grab Google CDN's jQuery. fall back to local if necessary --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="{{ STATIC_PREFIX }}/js/jquery-1.7.1.min.js"><\/script>')</script>
<script src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script> 

<script type="text/javascript">
var organization = "{{organization.slug}}";
var branch = "{{branch}}";   

$(document).ready(function() {
    $('#connect-catalog, #scan-something').popover('show')
});

</script>
{% endblock scripts %}