{% extends "layouts/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Controls | Twitter Config{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.css" type="text/css" />
<link rel="stylesheet" media="all" href="{{ STATIC_PREFIX }}css/awesome.css" />
{% endblock styles %}

{% block content %}
<body>
<div id="wrapper">
	
	<header id="branding">
		<span id="feeds">
			<ul>
				<li><a href="{% url 'auth_logout' %}">Logout</a></li><li>|</li><li><a href="{% url 'control_home' %}">Control Center</a></li>
			</ul>
		</span>
		<h1><a href="{% url 'landing' %}">Awesome Box at the {{ organization.name }}</a></h1>
	</header>
	<div id="content">
	
		<article class="control thin-centered">
			<header>
				<h1>Awesome meet Twitter</h1>
			</header>
			
			{% if existing_config %}
			<p>You have already configured Awesome Box to tweet new items to <a href="http://twitter.com/{{organization.twitter_username}}">your Twitter account</a>. If you do not want to tweet your returns, head on over to <a href="http://twitter.com/{{organization.twitter_username}}">Twitter</a> and disable the Awesome Box application.</p>
			<br />
            <form method="post" action="{% url 'control_twitter_settings' %}">
                        {% csrf_token %}
                <h3>Your Awesome Twitter Settings</h3>
                <label>Tweet intro text</label>
                {{ settings_form.twitter_intro }}
                <label class="checkbox">
                {{ settings_form.twitter_show_title }} Include title and author in Tweet
                </label>
                <br/>
                <input type="submit" value="Save settings" class="btn"/>
            </form>
			<br />
			<p>If things aren't working as expected, setup Twitter again.</p>
			{% else %}
			<p>The Awesome Box can send returns to your Twitter feed if you'd like.</p>
			{% endif %}
			<form method="POST">
				{% csrf_token %}
				<br />
				<input type="submit" value="Allow Awesome Box to tweet returns" class="btn"/>
			</form>
		</article>
	
	</div><!-- end content -->
</div> <!-- end wrapper -->
{% endblock content %}

{% block scripts %}
<script src="{{ STATIC_PREFIX }}js/modernizr.custom.37797.js"></script> 
<!-- Grab Google CDN's jQuery. fall back to local if necessary --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="{{ STATIC_PREFIX }}/js/jquery-1.7.1.min.js"><\/script>')</script>

{% endblock scripts %}