{% extends "layouts/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Awesome Box{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" media="all" href="{{ STATIC_PREFIX }}css/landing.css" />
{% endblock styles %}

{% block content %}
<body>
<div class="container">

  <div class="row offerings">
    <div class="col-sm-7 col-sm-offset-2">
        <h4 class="long-heading">Awesome Network</h4>
		<p>When we mix our Awesome data together we leverage the power of the Awesome Network to get things like top 10 lists.</p>
        <p>Of all the items dropped in all of the Awesome Boxes, these are the most awesome of all.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
    <table class="table table-bordered">
    <thead>
        <tr>
            <th class="small-th">CURRENT RANK</th>
            <th>TEEN</th>
            <th class="small-th">NUMBER AWESOMES</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <!--<p class="text-block">{{item.title}}</p>-->
        <tr><td class="rank-td">{{forloop.counter}}</td><td>{{item.title}}</td><td class="awesomes-td">{{item.total_checkins}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        <table class="table table-bordered">
    <thead>
        <tr>
            <th class="small-th">CURRENT RANK</th>
            <th>CHILDREN'S</th>
            <th class="small-th">NUMBER AWESOMES</th>
        </tr>
    </thead>
    <tbody>
    {% for creator in creators %}
        <!--<p class="text-block">{{item.title}}</p>-->
        <tr><td class="rank-td">{{forloop.counter}}</td><td>{{creator.title}}</td><td class="awesomes-td">{{creator.total_checkins}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
  </div>
  
    <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
    <table class="table table-bordered">
    <thead>
        <tr>
            <th class="small-th">CURRENT RANK</th>
            <th>COMICS</th>
            <th class="small-th">NUMBER AWESOMES</th>
        </tr>
    </thead>
    <tbody>
    {% for comic in comics %}
        <!--<p class="text-block">{{item.title}}</p>-->
        <tr><td class="rank-td">{{forloop.counter}}</td><td>{{comic.title}}</td><td class="awesomes-td">{{comic.total_checkins}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        <table class="table table-bordered">
    <thead>
        <tr>
            <th class="small-th">CURRENT RANK</th>
            <th>SCIENCE FICTION</th>
            <th class="small-th">NUMBER AWESOMES</th>
        </tr>
    </thead>
    <tbody>
    {% for scifi in scifis %}
        <!--<p class="text-block">{{item.title}}</p>-->
        <tr><td class="rank-td">{{forloop.counter}}</td><td>{{scifi.title}}</td><td class="awesomes-td">{{scifi.total_checkins}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
	var CSRF_TOKEN = "{{ csrf_token }}";
</script>
<!-- Grab Google CDN's jQuery. fall back to local if necessary --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src='{{ STATIC_PREFIX }}js/raphael.js'></script>
<script src='{{ STATIC_PREFIX }}js/raphael.scale.js'></script>
<script src='{{ STATIC_PREFIX }}js/g.raphael.js'></script>
<script src='{{ STATIC_PREFIX }}js/usmap.js'></script>
<script src="{{ STATIC_PREFIX }}js/jquery.collagePlus.js"></script>
<script src="{{ STATIC_PREFIX }}js/handlebars.js"></script>
<script src="{{ STATIC_PREFIX }}js/landing.js"></script>
{% endblock scripts %}

{% block templates %}

{% verbatim %}

<script id="items-template" type="text/x-handlebars-template">

<ul> 
	{{#objects}}
	<li class="item">
		<a href="{{branch.organization.catalog_base_url}}{{catalogQuery this}}" target="_blank" >
		{{#if cover_art}}
		<img class="item-cover" src="{{cover_art}}" alt="{{title}}" />
		{{else}}
		<img class="item-cover" src="http://covers.openlibrary.org/b/isbn/{{isbn}}-M.jpg" alt="{{title}}" />
		{{/if}}
			<p class="item-title">
				{{title}}
			</p>
			</a>
	</li>
	{{/objects}}
</ul>
</script>
{% endverbatim %}
{% endblock templates %}