{% extends "layouts/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Awesome Box{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" media="all" href="{{ STATIC_PREFIX }}css/landing.css" />
{% endblock styles %}

{% block content %}
<body>
<div class="container">
	
	<div class="row center">
    <div class="text-block opening-row col-md-12">
			<h1>Sometimes things are<br/><span class="awesome">Awesome.</span></h1>
		</div>
  </div><!--row-->

  <div class="row center">
    <div class="col-md-9 col-md-offset-2">
    	<img class="img-responsive awesome-image center" src="{{ STATIC_PREFIX }}images/awesome_action.jpg"/>
	</div>
  </div><!--row-->

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <p class="text-block">Checked out something awesome from the library? Return it to the awesome box.</p>
    </div>
    <div class="col-md-4 col-md-offset-1 right">
      <a href="{% url 'process_self_register' %}" type="button" class="btn btn-custom btn-lg">Get one at your library</a>
      <p><a href="{{ STATIC_PREFIX }}docs/convince-your-library.pdf" class="small convince">Convince your library you need one</a></p>
    </div>	
  </div>

  <div class="row landing-section">
    <div class="col-md-9 col-md-offset-2 separator"></div>
  </div><!--row-->

  <div class="row">
    <div class="col-md-5 col-md-offset-2">
  	  <h4>What is the Awesome Box?</h4>
	  <p>It's an alternate returns box that sits alongside your library's regular book drop.</p>
	  <p>If you are returning an item that you really connected with, drop it in the Awesome Box instead of the regular book drop. Library staff will tag it as Awesome and share it with your library community.</p>
    </div>
    <div class="col-md-4">
    	<img class="img-responsive" src="{{ STATIC_PREFIX }}images/flow.png"/>
	</div>
  </div><!--row-->

  <div class="row landing-section">
    <div class="col-md-9 col-md-offset-2 separator"></div>
  </div><!--row-->

  <div class="row">
    <div class="col-md-5 col-md-offset-2">
		<h4>We can get your Awesome Box online</h4>
		<p>An account with us allows you to share items on the Web in these ways</p>
		<ul>
			<li>Web hosting for your <a href="http://cambridge.awesomebox.io">Awesome Page</a></li>
			<li>Widget for your library to plug into their own page</li>
			<li>An RSS Feed</li>
			<li>Automatic Tweeting of awesome items</li>
			<li>An API for displaying items in any way your want.</li>
		</ul>
		<p>Your library chooses the pieces that work best.</p>
    </div>
	<div class="col-md-4">
    	<img class="img-responsive" style="width:350px" src="{{ STATIC_PREFIX }}images/org-landing-bezel.jpg"/>
	</div>
  </div>

  <div class="row landing-section">
    <div class="col-md-9 col-md-offset-2 separator"></div>
  </div><!--row-->

  <div class="row">
	<div class="col-md-2 col-md-offset-2">
    	<img class="img-responsive" style="height: 300px" src="{{ STATIC_PREFIX }}images/your-library-decides.png"/>
	</div>
    <div class="col-md-5 col-md-offset-1">
		<h4>It is easy to get Awesome</h4>
		<p>You create a physical box and determine how the Awesome Box will fit into your library. We provide you with ways to get started including a nice sign kit and other promotional materials.</p>
		<p>The details are up to your library and we're here to help.</p>
    </div>
  </div>

  <div class="row landing-section">
    <div class="col-md-9 col-md-offset-2 separator"></div>
  </div><!--row-->

  <div class="row">
    <div class="col-md-9 col-md-offset-2">
      <!--<p class="text-block-inverse center">These libraries are already awesome.<br >With a lot of awesome items.</p>-->
	  <h4 class="long-heading">Many awesome libraries</h4>
      <p>There are over 120 Awesome Boxes in the United States. They're in public libraries, school libraries, and academic libraries.</p>
    </div>
  </div>

  <div class="row offerings">
    <div class="col-md-9 col-md-offset-2">
        <div id="plot-map-container"></div>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    // BIG
    //var map, paper, pageWidth=3800;
    var map, paper, branches = [];
    var pageWidth=$('#plot-map-container').parent().width();

    var drawIt = function() {
      paper = new ScaleRaphael('plot-map-container', 950, 650);
      map = paper.USMap();
      paper.scaleAll(pageWidth/map.width);
      function resizePaper(){
        var newWidth = $("#plot-map-container").parent().width();
        paper.scaleAll(newWidth/map.width);
     }
    $(window).resize(resizePaper); 
      $.get("api/v1/branch/?format=json&limit=200&offset=0&callback=?", function(data) {
        branches = data.objects;
        drawPoints(branches);
        });
        function drawPoints(branches) {
            for(var i = 0; i < branches.length; i++){
            //map.plot(points[i][0], points[i][1], points[i][2]);
            //map.darkenState(points[i][3], 0.07);
                map.plot(branches[i]['lat'], branches[i]['long'], branches[i]['organization']['name']);
            }
        }

 // This is for downloading
 /*$("svg").attr({ version: '1.1' , xmlns:"http://www.w3.org/2000/svg"});

 var svg = $("#svggroup").html();
 var b64 = btoa(svg); // or use btoa if supported

 // Works in recent Webkit(Chrome)
 open("data:image/svg+xml," + encodeURIComponent(svg));*/
 // End of downloading

    };

    document.onload = drawIt();
    
  </script>

  <div class="row landing-section">
    <div class="col-md-9 col-md-offset-2 separator"></div>
  </div><!--row-->

  <div class="row offerings">
    <div class="col-md-9 col-md-offset-2">
        <h4 class="long-heading">Awesome Network</h4>
		<p>When we mix our Awesome data together we leverage the power of the Awesome Network to get things like top 10 lists.</p>
        <p>Of all the items dropped in an awesome box at one of those libraries, these are the most awesome of all</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
    <table class="table table-bordered">
    <thead>
        <tr>
            <th class="small-th">CURRENT RANK</th>
            <th>TITLES</th>
            <th class="small-th">NUMBER AWESOMES</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <!--<p class="text-block">{{item.title}}</p>-->
        <tr><td class="rank-td">{{forloop.counter}}</td><td>{{item.title}}</td><td class="awesomes-td">{{item.total_checkins}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <table class="table table-bordered">
    <thead>
        <tr>
            <th class="small-th">CURRENT RANK</th>
            <th>AUTHORS</th>
            <th class="small-th">NUMBER AWESOMES</th>
        </tr>
    </thead>
    <tbody>
    {% for creator in creators %}
        <!--<p class="text-block">{{item.title}}</p>-->
        <tr><td class="rank-td">{{forloop.counter}}</td><td>{{creator.creator}}</td><td class="awesomes-td">{{creator.total_checkins}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
  </div>


  <div class="row landing-section">
    <div class="col-md-9 col-md-offset-2 separator"></div>
  </div><!--row-->

  <div class="row">
	<div class="col-md-5  col-md-offset-2">
	  <h4>Free to all</h4>
      <p>Like the greatest public libraries, the Awesome Box is free to all.</p>
	  <p>We are generously supported by the Harvard Library Innovation Lab, the Harvard Library Lab, and the Arcadia Fund.</p>
	  <br>
	<a href="{% url 'process_self_register' %}" type="button" class="btn btn-custom btn-lg">Get an Awesome Box at your library</a>
      <p><a href="{{ STATIC_PREFIX }}docs/convince-your-library.pdf" class="small convince">Convince your library you need one</a></p>
	</div>
    <div class="col-md-4">
      <a href="http://librarylab.law.harvard.edu/"><img style="width: 200px" src="{{ STATIC_PREFIX }}images/liblabstamp.png"/></a>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
	var CSRF_TOKEN = "{{ csrf_token }}";
</script>
<!-- Grab Google CDN's jQuery. fall back to local if necessary --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src='{{ STATIC_PREFIX }}js/raphael.js'></script>
<script src='{{ STATIC_PREFIX }}js/raphael.scale.js'></script>
<script src='{{ STATIC_PREFIX }}js/g.raphael.js'></script>
<script src='{{ STATIC_PREFIX }}js/usmap.js'></script>
<script src="{{ STATIC_PREFIX }}js/jquery.collagePlus.js"></script>
<script src="{{ STATIC_PREFIX }}js/handlebars.js"></script>
<script src="{{ STATIC_PREFIX }}js/landing.js"></script>
{% endblock scripts %}

{% block templates %}

{% verbatim %}

<script id="items-template" type="text/x-handlebars-template">

<ul> 
	{{#objects}}
	<li class="item">
		<a href="{{branch.organization.catalog_base_url}}{{catalogQuery this}}" target="_blank" >
		{{#if cover_art}}
		<img class="item-cover" src="{{cover_art}}" alt="{{title}}" />
		{{else}}
		<img class="item-cover" src="http://covers.openlibrary.org/b/isbn/{{isbn}}-M.jpg" alt="{{title}}" />
		{{/if}}
			<p class="item-title">
				{{title}}
			</p>
			</a>
	</li>
	{{/objects}}
</ul>
</script>
{% endverbatim %}
{% endblock templates %}
</body>