{% extends "layouts/base.html" %}
{% load static isbn_converter %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Awesome Box{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" media="all" href="{{ STATIC_PREFIX }}css/landing.css" />
{% endblock styles %}

{% block content %}
<body>
<div class="container">
	
	<div class="row center">
    <div class="text-block opening-row col-sm-12">
			<h1>Sometimes things are<br/><span class="awesome">Awesome.</span></h1>
		</div>
  </div><!--row-->

  <div class="row center">
    <div class="col-sm-9 col-sm-offset-2">
    	<img class="img-responsive awesome-image center" src="{{ STATIC_PREFIX }}images/awesome_action.jpg"/>
	</div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <p class="text-block">Checked out something awesome from the library? Return it to the Awesome Box.</p>
    </div>
    <div class="col-sm-4 col-sm-offset-1 right">
      <a href="{% url 'process_self_register' %}" type="button" class="btn btn-custom btn-lg">Get one at your library</a>
      <p><a href="{{ STATIC_PREFIX }}docs/convince-your-library.pdf" class="small convince">Convince your library you need one</a></p>
    </div>	
  </div>

  <div class="row landing-section">
    <div class="col-sm-9 col-sm-offset-2 separator"></div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-5 col-sm-offset-2">
  	  <h4>What is the Awesome Box?</h4>
	  <p>It's an alternate returns box that sits alongside your library's regular book drop.</p>
	  <p>If you are returning an item that you really connected with, drop it in the Awesome Box instead of the regular book drop. Library staff will tag it as Awesome and share it with your library community.</p>
    </div>
    <div class="col-sm-4">
    	<img class="img-responsive" src="{{ STATIC_PREFIX }}images/flow.png"/>
	</div>
  </div><!--row-->

  <div class="row landing-section">
    <div class="col-sm-9 col-sm-offset-2 separator"></div>
  </div><!--row-->

  <div class="row">
	<div class="col-sm-4 col-sm-offset-2">
    	<img class="img-responsive bezel-screen" src="{{ STATIC_PREFIX }}images/org-landing-bezel.jpg"/>
	</div>

    <div class="col-sm-5">
		<h4>We can get your Awesome Box online</h4>
		<p>An account with us allows you to share items on the Web.</p>
		<ul>
			<li>Web hosting for your <a href="http://yourlibrary.awesomebox.io">Awesome Page</a></li>
			<li>A widget for your library to plug into its website</li>
			<li>An RSS Feed</li>
			<li>Automatic Tweeting of awesome items</li>
			<li>An API for displaying items in any way you want</li>
		</ul>
		<p>Your library chooses the pieces that work best.</p>
    </div>

  </div>

  <div class="row landing-section">
    <div class="col-sm-9 col-sm-offset-2 separator"></div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-5 col-sm-offset-2">
		<h4>It is easy to get Awesome</h4>
		<p>You create a physical box and determine how the Awesome Box will fit into your library. We provide you with ways to get started including a nice sign kit and other promotional materials.</p>
		<p>The details are up to your library and we're here to help.</p>
    </div>
	<div class="col-sm-2 col-sm-offset-1">
    	<img class="img-responsive center" src="{{ STATIC_PREFIX }}images/your-library-decides.png"/>
	</div>
  </div>

  <div class="row landing-section">
    <div class="col-sm-9 col-sm-offset-2 separator"></div>
  </div><!--row-->

  <div class="row">
    <div class="col-sm-7 col-sm-offset-2">
      <!--<p class="text-block-inverse center">These libraries are already awesome.<br >With a lot of awesome items.</p>-->
	  <h4 class="long-heading">Many awesome libraries</h4>
      <p>There are over {{num_libraries}} Awesome Boxes in the United States. They're in public libraries, school libraries, and academic libraries.</p>
    </div>
  </div>

  <div class="row offerings">
    <div class="col-sm-9 col-sm-offset-2">
        <div id="plot-map-container"></div>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    // BIG
    //var map, paper, pageWidth=3800;
    var map, paper, branches = [];
    var pageWidth=$('#plot-map-container').parent().width();

    var drawIt = function() {
      paper = new ScaleRaphael('plot-map-container', 950, 650);
      map = paper.USMap();
      paper.scaleAll(pageWidth/map.width);
      function resizePaper(){
        var newWidth = $("#plot-map-container").parent().width();
        paper.scaleAll(newWidth/map.width);
     }
    $(window).resize(resizePaper); 
      $.get("api/v1/branch/?format=json&limit=200&offset=0&callback=?", function(data) {
        branches = data.objects;
        drawPoints(branches);
        });
        function drawPoints(branches) {
            for(var i = 0; i < branches.length; i++){
            //map.plot(points[i][0], points[i][1], points[i][2]);
            //map.darkenState(points[i][3], 0.07);
                map.plot(branches[i]['lat'], branches[i]['long'], branches[i]['organization']['name']);
            }
        }

 // This is for downloading
 /*$("svg").attr({ version: '1.1' , xmlns:"http://www.w3.org/2000/svg"});

 var svg = $("#svggroup").html();
 var b64 = btoa(svg); // or use btoa if supported

 // Works in recent Webkit(Chrome)
 open("data:image/svg+xml," + encodeURIComponent(svg));*/
 // End of downloading

    };

    document.onload = drawIt();
    
  </script>
    
  <div class="row offerings">
    <div class="col-sm-9 col-sm-offset-2">
        <h2 class="recent-banner">Awesome today</h2>
        <div id="hard-results">
        {% for recent in recently %}
	<li class="item">
		{% if recent.cover_art %}
		<img class="item-cover" src="{{recent.cover_art}}" alt="{{recent.title}}" />
		{% else %}
		<img class="item-cover" src="http://images.amazon.com/images/P/{{recent.isbn|isbn_converter}}.01.ZTZZZZZZ.jpg" alt="{{recent.title}}" />
		{% endif %}
		<div class="item-details">
		    {% if recent.catalog_id %}
		        <a href="http://www.worldcat.org/search?qt=worldcat_org_all&q={{recent.catalog_id}}" target="_blank" style="display:none;">{{recent.title}}</a>
		    {% else %}
		        <a href="http://www.worldcat.org/search?qt=worldcat_org_all&q={{recent.title}}" target="_blank" style="display:none;">{{recent.title}}</a>
		    {% endif %}
			<span class="item-title">
				{{recent.title}}
			</span>
			<span class="item-author">{{recent.creator}}</span>
			{% if recent.catalog_id %}
			<a class="item-amazon-link" href="http://www.amazon.com/gp/search?keywords={{recent.catalog_id}}&linkCode=q" target="_blank"></a>
			{% else %}
			<a class="item-amazon-link" href="http://www.amazon.com/gp/search?keywords={{recent.title}}&linkCode=q" target="_blank"></a>
			{% endif %}
			
		</div>
		<div class="item-library">
		    <a href="http://{{recent.branch.organization.slug}}.awesomebox.io">{{recent.branch.organization.name}}</a>
		</div>
	</li>
	{% endfor %}
	</div>
    </div>
  </div>


  <div class="row landing-section">
    <div class="col-sm-9 col-sm-offset-2 separator"></div>
  </div><!--row-->

  <div class="row offerings">
    <div class="col-sm-7 col-sm-offset-2">
        <h4 class="long-heading">Awesome Network</h4>
		<p>When we mix our Awesome data together we leverage the power of the Awesome Network to get things like top 10 lists.</p>
        <p>Of all the items dropped in all of the Awesome Boxes, these are the most awesome of all.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
    <table class="table table-bordered">
    <thead>
        <tr>
            <th class="small-th">CURRENT RANK</th>
            <th>TITLES</th>
            <th class="small-th">NUMBER AWESOMES</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <!--<p class="text-block">{{item.title}}</p>-->
        <tr><td class="rank-td">{{forloop.counter}}</td><td>{{item.title}}</td><td class="awesomes-td">{{item.total_checkins}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        <table class="table table-bordered">
    <thead>
        <tr>
            <th class="small-th">CURRENT RANK</th>
            <th>AUTHORS</th>
            <th class="small-th">NUMBER AWESOMES</th>
        </tr>
    </thead>
    <tbody>
    {% for creator in creators %}
        <!--<p class="text-block">{{item.title}}</p>-->
        <tr><td class="rank-td">{{forloop.counter}}</td><td>{{creator.creator}}</td><td class="awesomes-td">{{creator.total_checkins}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
  </div>


  <div class="row landing-section">
    <div class="col-sm-9 col-sm-offset-2 separator"></div>
  </div><!--row-->

  <div class="row">
	<div class="col-sm-5  col-sm-offset-2">
	  <h4>Free to all</h4>
      <p>Like the greatest public libraries, the Awesome Box is free to all.</p>
	  <p>We are generously supported by the <a href="http://librarylab.law.harvad.edu">Harvard Library Innovation Lab</a>, the <a href="https://osc.hul.harvard.edu/liblab">Harvard Library Lab</a>, and the <a href="http://www.arcadiafund.org.uk/">Arcadia Fund</a>.</p>
	  <p>Contact us at <a href="mailto:lil@law.harvard.edu">lil@law.harvard.edu</a></p>
	  <br><br>
	<a href="{% url 'process_self_register' %}" type="button" class="btn btn-custom btn-lg">Get an Awesome Box at your library</a>
      <p><a href="{{ STATIC_PREFIX }}docs/convince-your-library.pdf" class="small convince">Convince your library you need one</a></p>
	</div>
    <div class="col-sm-4">
      <a href="http://librarylab.law.harvard.edu/"><img class="img-responsive center bezel-screen" src="{{ STATIC_PREFIX }}images/liblabstamp.png"/></a>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
	var CSRF_TOKEN = "{{ csrf_token }}";
	var static_prefix = "{{ static_prefix }}";
</script>
<!-- Grab Google CDN's jQuery. fall back to local if necessary --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src='{{ STATIC_PREFIX }}js/raphael.js'></script>
<script src='{{ STATIC_PREFIX }}js/raphael.scale.js'></script>
<script src='{{ STATIC_PREFIX }}js/g.raphael.js'></script>
<script src='{{ STATIC_PREFIX }}js/usmap.js'></script>
<script src="{{ STATIC_PREFIX }}js/slick.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/landing.js"></script>
{% endblock scripts %}

{% block extrascripts %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ga_key}}', 'awesomebox.io');
  ga('send', 'pageview');

</script>
{% endblock extrascripts %}
</body>