<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta name="description" content="{{shelf.title}}">
  <meta name="author" content="{{organization.name}}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
{% load static isbn_converter placeholder %}
{% get_static_prefix as STATIC_PREFIX %}

<title>Scan | Awesome Box at the {{organization.name}}</title>

<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/normalize.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/skeleton.css" type="text/css" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/shelf.css" type="text/css" />
</head>

<body>
<div class="container build-shelf">
    <div class="row">
      <div class="eight columns">
      	<h4>Build your shelf</h4>
      	</div>
      </div>
      	<form id="lookup">
    	<div class="row">
    		<div class="four columns u-pull-right">
    			<h5>Scan New Items Here</h5>
    			<a href="#" id="new-blank-item"><i class="fa fa-plus-square"></i>new blank item</a>
    		</div>
    		<div class="eight columns">
    			<input class="u-full-width" placeholder="ISBN/UPC code" id="barcode" type="text">
    			<p class="alert"></p>
    		</div>
    	</div>
	</form>
    <form action="." method="post">
      <div class="row shelf-details">
      	<div class="eight columns">
      	{% csrf_token %}
      	{% if form.errors %}
      	<ul class="errorlist">
        	<li>Please fix the error(s) below.</li>
      	</ul>
      	{% endif %}
		<p class="build-shelf-title">{{ form.title|placeholder:"Title" }}{{ form.title.errors }}</p>
		<p class="build-shelf-permalink">http://{{shelf.organization.slug}}.{{awesome_domain}}/{{form.slug}}{{form.slug.errors}}</p>
		<p class="build-shelf-description">{{ form.description|placeholder:"Optional description" }}{{ form.description.errors }}</p>
		{{ formset.management_form }}
		</div>
		<div class="four columns u-pull-right">
			<h5>Shelf Details</h5>
			<p>Your shelf's title, link and description</p>
			<button class="button-primary">Save Shelf</button>
			{% if messages %}
        		{% for message in messages %}
            		<p id="build-shelf-message">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</p>
        		{% endfor %}
    		{% endif %}
		</div>
		</div>
		<div class="row">
		<div class="twelve columns">
		<div class="order_list">
		{% for form in formset.forms %}
		<div class="order_item build-item" id="item-{{ forloop.counter }}">
		{% for field in form.visible_fields %}

		{# include hidden fields #}
		{% if forloop.first %}
        	{% for hidden in form.hidden_fields %}
        	{{ hidden }}
        	{% endfor %}
		{% endif %}

		{% if "sort_order" in field.html_name %}
		<span class="order">
		{{ field.as_hidden }}
		</span>
		{% elif "shelf" in field.html_name %}
		{{ field.as_hidden }}
		{% elif "isbn" in field.html_name %}
		<div class="item-cover-container">
		<img class="item-cover" src="http://images.amazon.com/images/P/{{field.value|isbn_converter}}.01.LZZZZZZZ.jpg" alt="{{field.value}} cover image" />
		</div>
		{{ field.as_hidden }}
		{% elif "DELETE" in field.html_name %}
		<span class="delete">
		<label>{{ field }} <span class="label-body">DELETE</span></label>
		</span>
		{% elif "description" in field.html_name %}
		{{ field.errors }}
		{{ field|placeholder:"Optional description"}}
		{% else %}
		<span class="description">

		{{ field.errors }}
		{{ field }}

		</span>
		{% endif %}

		{% endfor %}
		</div>
		{% endfor %}
		</div>
		</div>
		</div>
		</form>
	<div class="row">
		<div class="twelve columns" id="shelf-items">
		</div>
	</div>
</div>

<script type="text/javascript">
	var CSRF_TOKEN = "{{ csrf_token }}",
	shelf='{{shelf.id}}';
</script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-1.7.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/handlebars.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/scan-shelf.js"></script>

</body>

{% verbatim %}

<script id="items-template2" type="text/x-handlebars-template">
	<div class="order_item build-item ui-sortable-handle" id="item-{{item_num}}">
	<input id="id_form-{{form_num}}-id" name="form-{{form_num}}-id" value="{{id}}" type="hidden">
	<span class="description">
	<input id="id_form-{{form_num}}-title" maxlength="400" name="form-{{form_num}}-title" value="{{title}}" type="text">
	</span>
	<span class="description">
	<input id="id_form-{{form_num}}-creator" maxlength="400" name="form-{{form_num}}-creator" value="{{creator}}" type="text">
	</span>
	<span class="order hidden">
	<input id="id_form-{{form_num}}-sort_order" name="form-{{form_num}}-sort_order" value="{{sort}}" type="hidden">
	</span>
	<span class="description">
	<input id="id_form-{{form_num}}-shelf" name="form-{{form_num}}-shelf" value="{{shelf}}" type="hidden">
	</span>
	<div class="item-cover-container">
	<img class="item-cover" src="http://images.amazon.com/images/P/{{isbn}}.01.LZZZZZZZ.jpg" alt="{{isbn}} cover image">
	</div>
	<input id="id_form-{{form_num}}-isbn" name="form-{{form_num}}-isbn" value="{{isbn}}" type="hidden">
	<input id="id_form-{{form_num}}-description" maxlength="400" name="form-{{form_num}}-description" placeholder="Optional description" type="text">
	<span class="delete">
	<label><input id="id_form-{{form_num}}-DELETE" name="form-{{form_num}}-DELETE" type="checkbox"> <span class="label-body">DELETE</span></label>
	</div>
</script>

{% endverbatim %}