{% extends "layouts/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Scan | Awesome Box at the {{organization.name}}{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.css" type="text/css" />
<style>
body {
  background-image:url('{{ STATIC_PREFIX }}supplies/awesome-logo-web.png');
  background-size:150px;
  background-position: 50px 80px;
  background-repeat: no-repeat;
  font-family: Arial,sans-serif;
}

a {
    color:#fff;
}

h1 {
  color: #595959;
}

#innerlay {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #5BA09F;
    border-radius: 3px 3px 3px 3px;
    height: 245px;
    margin: 100px auto 0;
    padding: 30px;
    width: 580px;
}
#barcode {
	border: solid 1px #5BA09F;
	font-size:24px;
	width:375px;
	padding:10px;
	margin-top:10px;
}

#scanning_library {
	border: solid 1px #5BA09F;
	font-size:18px;
	width:200px;
	padding:0;
	height:28px;
	margin-left:8px;
}

#scanned_at {
  font-size:14px;
  width:350px;
  padding-left:310px;
  margin-top: 20px;
}

.added-title {
  margin-left:8px;
}

.bar {
  width:10%;
}

header, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	display: block;
}

#branding a:hover {
	color:#fff;
	text-decoration:none;
}

#branding {
	width: 100%;
	height: 47px;
	background: #5BA09F;
}
#branding h1 {
	width: 940px;
	padding-top:5px;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
    line-height:36px;
}

#feeds img {
  position:relative;
  float:right;
  height:28px;
  margin:8px 8px 0 0;
  z-index:6;
}

#feeds ul {
  margin-right:6px;   
}

#feeds li {
  position:relative;
  float:right;
  color: #EBEEA0;
  padding:13px 4px;
  font-size:14px;
  z-index:6;
}
  
#innerlay .popover {
  color: #888;
  background-color: #fcf1e2;
  border-color:#EA9B3A;
  max-width:294px;
}
#innerlay .popover .popover-title {
  color:#da8217;
  background-color: #f8e1c4;
  border-bottom-color: #EA9B3A;
  font-size:14px;
  font-weight:700;
}
.popover-content {
    font-style:italic;
}

.popover.bottom .arrow {
  border-bottom-color: #EA9B3A;
}

.popover.bottom .arrow:after {
  border-bottom-color: #f8e1c4;
}

</style>
{% endblock styles %}

{% block scripts %}
<script type="text/javascript">
	var CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script src="{{ STATIC_PREFIX }}js/modernizr.custom.37797.js"></script> 
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-1.7.1.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="//use.typekit.net/lym2dyi.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/scan.js"></script>
<script type="text/javascript">
var num_items = "{{num_items}}";     
</script>

{% endblock scripts %}

<body>
{% block content %}
	{% include "partials/control-header.html" %}
	<div id="innerlay">
		<h1>Awesome Box Barcode Scan</h1>
		<form id="lookup">
	    <input type="text" id="barcode" />
	<div id="scanned_at">
	    Scanned at
	    <select id="scanning_library">
	      {% for branch in branches %}
			<option value='{{branch.slug}}'>{{branch.name}}</option>
	      {% endfor %}
	    </select>
	</div>
	    <input type="submit" value="submit" id="submit" style="display:none;" />
	  </form>
	  <div class="progress" style="display:none;">
	    <div class="bar" style="width: 10%;"></div>
	  </div>
	  <div class="alert alert-error" style="display:none;"></div>
	  <div class="alert alert-success" style="display:none;">
	    <h4 class="alert-heading">Awesome!</h4>
	    <span class="label label-success">Added</span> <span class="added-title">
	  </div>
	</div>
{% endblock content %}
</body>