{% extends "layouts/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.css" type="text/css" />
<link rel="stylesheet" media="all" href="{{ STATIC_PREFIX }}css/awesome-newlook.css" />
{% endblock styles %}

{% block content %}
<body>
<div id="wrapper">	
	<header id="branding">
		<h1><a href="http://{{awesome_domain}}">Awesome Box</a></h1>
	</header>
	<div id="content">
		<article class="register thin-centered">
			<h2>Get ready to be more awesome</h2>
			<p class="signup-intro">Create a FREE account so your library can be more awesome today</p>
			<form action="." method="post" class="signup">
				{% csrf_token %}
				<p>First build your Awesome Box website</p>
				<fieldset>
                    <span class="text-error">{{ org_form.non_field_errors }}</span>
                      {% for field in org_form %}
                        <label for="id_{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                          {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
                        {%elif field.help_text %}
                          <span class="help-inline">{{ field.help_text }}</span>
                        {% endif %}
                    {% endfor %}  
                </fieldset>
                <p>Now create an admin account</p>
                <fieldset>
                    <span class="text-error">{{ user_reg_form.non_field_errors }}</span>
                      {% for field in user_reg_form %}
                        <label for="id_{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                          {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
                        {%elif field.help_text %}
                          <span class="help-inline">{{ field.help_text }}</span>
                        {% endif %}
                    {% endfor %}  
                </fieldset>
				<br />
				<button type="submit" class="btn btn-lg btn-custom">Create Account</button>
			</form>
			<br />
		</article>
	</div><!-- end content -->
</div> <!-- end wrapper -->
{% endblock content %}

{% block scripts %}
<script src="{{ STATIC_PREFIX }}js/modernizr.custom.37797.js"></script> 
<!-- Grab Google CDN's jQuery. fall back to local if necessary --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="{{ STATIC_PREFIX }}/js/jquery-1.7.1.min.js"><\/script>')</script>
<script src="{{ STATIC_PREFIX }}js/signup.js"></script> 


{% endblock scripts %}