{% extends "layouts/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load templatetag_handlebars %}


{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.css" type="text/css" />
<link rel="stylesheet" media="all" href="{{ STATIC_PREFIX }}css/awesome.css" />
{% endblock styles %}

{% block content %}

<header id="branding">
	<h1>Awesome Box</h1>
</header>
<div id="content">
	<article class="register thin-centered">
		<h1>Create an Account</h1>

		<form action="." method="post">
			{% csrf_token %}
			<p>
				<label for="id_reg_key">Registration Key</label>
				<input id="id_reg_key" type="text" name="reg_key" maxlength="30">
			</p>
			<p>
				<label for="id_username">Username</label>
				<input id="id_username" type="text" name="username" maxlength="30" value="{{form.data.username}}">
				{{ form.username.errors }}
			</p>
			<p>
				<label for="id_email">Email address</label>
				<input id="id_email" type="text" name="email" maxlength="30" value="{{form.data.email}}">
				{{ form.email.errors }}
			</p>
			<p>
				<label for="id_password">Password</label>
				<input id="id_password" type="password" name="password" maxlength="30">
				{{ form.password.errors }}
			</p>
			<p>
				<label for="id_organization_name">Complete Organization Name</label>
				<input id="id_organization_name" name="organization_name" maxlength="30">
			</p>
			<p>
				<label for="id_organization_slug">Web-friendly Organization Name</label>
				<input id="id_organization_slug" name="organization_slug" maxlength="30">
				<span id="input_preview"></span>
			</p>
			<p>
				<label for="id_service_lookup">Lookup service</label>
				<select id="id_service_lookup" name="service_lookup">
					<option selected value="worldcat">worldcat</option>
					<option value="hollis">hollis</option>
    			</select>
			</p>
			<p>
				<label for="id_catalog_base_url">Base Catalog URL</label>
				<input id="id_catalog_base_url" name="catalog_base_url" maxlength="300"
			</p>
			<p>
				<label for="id_branch_name">Complete Branch Name</label>
				<input id="id_branch_name" name="branch_name" maxlength="30">
			</p>
			<p>
				<label for="id_branch_slug">Web-friendly Branch Name</label>
				<input id="id_branch_slug" name="branch_slug" maxlength="30">
				{{ form.branch_slug.errors }}
			</p>


			<button type="submit" class="button positive icon-ok immediate">Create Account</button>
		</form>
	</article>
</div>
{% endblock content %}

{% block scripts %}
<script src="{{ STATIC_PREFIX }}js/modernizr.custom.37797.js"></script> 
<!-- Grab Google CDN's jQuery. fall back to local if necessary --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="{{ STATIC_PREFIX }}/js/jquery-1.7.1.min.js"><\/script>')</script>


<script type="text/javascript">	
	$('input[name=organization_slug]').focus();

 	$('input[name=organization_slug]').on('propertychange keyup input paste', function() {
 		$('#input_preview').fadeIn("fast");
 	
		// Show the user what the url of the org will be
		var user_url = $(this).val()
		var slugged_user_url = user_url.replace(/\s+/g,'-').replace(/[^a-zA-Z0-9\-]/g,'').toLowerCase();
    	$('#input_preview').html('http://' + slugged_user_url + '.awesomebox.io');
 	});
</script>

{% endblock scripts %}