.aw-widget {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  border-radius:4px;
  border: solid 1px #bee620;
  width:325px;
  position:relative;
}

.aw-widget-list {
  padding: 5px 0 15px 10px;
  margin:0;
  vertical-align:baseline;
}

.aw-widget-item {
  color:#666;
  font-size:13px;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.75);
  margin:8px 0 0 0;
  padding:0;
  vertical-align: baseline;
  line-height: 18px;
}

.aw-widget-item a {
  font-size:14px;
  vertical-align: baseline;
  margin: 0;
  padding:0;
}

.aw-widget a, .aw-widget a:link,
.aw-widget a:active,
.aw-widget a:visited {
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color:#11cbf7;
  outline: none;
  text-decoration:none;
}

.aw-widget a:hover { 
  color:#07a8ce;
}

span.aw-widget-creator {
  display:block;
  margin:0;
  line-height: 18px;
  font-size:12px;
  padding:0;
  vertical-align:baseline;
}

h4.aw-widget-title {
  margin-top:-225px;
  background: none repeat scroll 0 0 #BEE620;
  padding:10px;
}

h4.aw-widget-title a {
  color:#11CBF7;
  background: none repeat scroll 0 0 #BEE620;
  font-size:18px;
  font-weight:bold;
  width:220px;
  display:block;
  line-height:1.1em;
}

img.aw-widget-arrow {
  padding-left:225px;
  display:block;
}