/* PARALLAX SCROLLING EXPERIMENT
   Master Styles
   Author: Jonathan Nicol (f6design.com)
*****************************************************************/


/* Global reset
   http://meyerweb.com/eric/tools/css/reset/ 
*****************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Extended base styles (site specific)
*****************************************************************/

html { 
	overflow-y: scroll; /* always force a scrollbar in non-IE */
	}
body {
	/*background: #00333c;*/
	background: #ffffff;
	overflow-x: hidden;
	height: 4350px;
	line-height: 1.5;
	color: #000;
	font-size: 14px;
	font-family: Arial,sans-serif;
}
h1 {
	color: #11cbf7;
}
a, a:link,
a:active,
a:visited {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	color:#11cbf7;
	outline: none;
	text-decoration:none;
	}
	a:hover { 
		color:#07a8ce;
		}
img { 
	display:block;
	}
p {
	margin:0;
	}

/* Page structure
*****************************************************************/

#wrapper {
	position: relative;
}
#branding {
	width: 100%;
	background: #bee620;
	}
	#branding h1 {
		width: 940px;
		padding: 10px 15px;
		margin: 0 auto;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;
		}
#feeds img {
  position:relative;
  float:right;
  height:28px;
  margin:8px 8px 0 0;
  z-index:6;
}

/* Nav
*****************************************************************/

nav#primary {
	z-index: 5;
	position: fixed;
	top: 50%;
	right: 16px;
	margin-top: -40px;
}
nav#primary li {
	position: relative;
	height: 20px;
}
nav#primary a {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	background: transparent url('../images/nav-dot.png') 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
	background: transparent url('../images/nav-dot.png') 4px -16px no-repeat;
}
nav#primary h1 {
	position: absolute;
	right: 22px;
	top: -7px;
	display: none;
	padding: 4px 20px 4px 7px;;
	color: #fff;
	white-space: nowrap;
	background: transparent url('../images/nav-arrow.png') 100% 50% no-repeat;
	}
nav.next-prev {
	margin: 20px 0 0 0;
		clear:both;
	}
.left-right {
  float:left;
  display:block;
  margin-top:5px;
}
#search	p.num-found {
  width:150px;
  float:left;
  font-size:18px;
}
#search-results ul {
  clear:both;
}
	a.prev,
	a.next,
	a.older,
	a.newer{
		display: block;
		width: 15px;
		height: 11px;
		text-indent: -9999px;
		}
	a.left,
	a.right{
		display: block;
		float:left;
		width: 11px;
		height: 15px;
		text-indent: -9999px;
		}
	a.prev, a.newer {
		margin: 0 auto 5px auto;
		background: transparent url('../images/scroll-arrow-up.png') 0 0 no-repeat;
		}
		a.prev:hover, a.newer:hover {
			background: transparent url('../images/scroll-arrow-up.png') 0 -11px no-repeat;
			}
	a.next, a.older {
		margin: 5px auto 0 auto;
		background: transparent url('../images/scroll-arrow-down.png') -1px 0 no-repeat;
		}
		a.next:hover, a.older:hover {
			background: transparent url('../images/scroll-arrow-down.png') -1px -11px no-repeat;
			}
	a.left {
		margin: 5px auto 5px auto;
		background: transparent url('../images/scroll-arrow-left.png') 0 0 no-repeat;
		}
		a.left:hover {
			background: transparent url('../images/scroll-arrow-left.png') -12px 0 no-repeat;
			}
	a.right {
		margin: 6px auto 0 15px;
		background: transparent url('../images/scroll-arrow-right.png') 0px 0 no-repeat;
		}
		a.right:hover {
			background: transparent url('../images/scroll-arrow-right.png') -11px 0px no-repeat;
			}

/* Parallax
*****************************************************************/

/* content */
#content {
	z-index: 4;
	position: relative;
	max-width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	line-height: 1.7;
	}
	#content article {
		width: 915px;
		}
		#recently-awesome ,
		#most-awesome,
		#search,
		#about {
			padding-top: 55px;
			}
		#recently-awesome {
			position: absolute;
			top: 0px;
			}
		#most-awesome {
			position: absolute;
			top: 1090px;
			}
		#search {
			position: absolute;
			top: 2180px;
			}
			#content h1 {
			  /*color:#bee620;*/
			  color: #11cbf7;
				margin: 0 0 25px 0;
				font-size: 60px;
				font-weight:bold;
				line-height: 65px;
				}
		#about {
			position: absolute;
			top: 3270px;
			}
			#search p, #about p {
			  font-size:28px;
			  line-height:32px;
			  color:#00333c;
			  width:600px;
			  margin-bottom:8px;
			}
			p.bold {
        font-weight: 700;
      }
      #about p.small {
        font-size:18px;
      }
/* foreground (ballons/landscape) */
#parallax-bg3 {
	z-index: 3;
	position: fixed;
	left: 75%; /* align left edge with center of viewport */
	top: 0;
	width: 940px;
	margin-left: -470px; /* move left by half element's width */
	}
	/* balloon */
	#bg3-1 {
		position: absolute;
		top: -71px;
		left: 355px;
		}
	#bg3-2 {
		position: absolute;
		top: 812px;
		left: 412px;
		}
	#bg3-3 {
		position: absolute;
		top: 1628px;
		left: 322px;
		}
	#bg3-4 {
		position: absolute;
		top: 2700px;
		left: -285px;
		}
/* midground (clouds) */
#parallax-bg2 {
	z-index: 2;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg2-1 {
		position: absolute;
		top: 162px;
		left: 200px;
		}
	#bg2-2 {
		position: absolute;
		top: 300px;
		left: 1150px;
		}
	#bg2-3 {
		position: absolute;
		top: 543px;
		left: -35px;
		}
	#bg2-4 {
		position: absolute;
		top: 1180px;
		left: 250px;
		}
	#bg2-5 {
		position: absolute;
		top: 900px;
		left: 825px;
		}
/* background (clouds) */
#parallax-bg1 {
	z-index: 1;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg1-1 {
		position: absolute;
		top: 85px;
		left: -270px;
		}
	#bg1-2 {
		position: absolute;
		top: 440px;
		left: 755px;
		}
	#bg1-3 {
		position: absolute;
		top: 900px;
		left: -220px;
		}
	#bg1-4 {
		position: absolute;
		top: 1020px;
		left: 465px;
		}

#recent {
  /*width:600px;*/
}

.item {
  display:block;
  color:#00333C;
	cursor:pointer;
	margin-bottom:25px;
	width:275px;
	float:left;
}

.item-cover {
	float:left;
	border:0px solid #999;
	margin:0 15px 15px 0;
	background-image:url('../images/faceUp-icons.png');
	background-repeat: no-repeat;
	height:160px;
	width:110px;
	background-position: -170px -4px;
	padding:0;
}

.item-details {
	padding: 5px 0 0 10px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.75);
	border-radius:4px;
	height:153px;
	z-index:13;
	border: solid 1px #bee620;
  margin-right:10px;
}

.item-title {
  font-size:15px;
	line-height:16px;
	max-height:120px;
	float:left;
	margin-bottom:8px;
	width:130px;
}

.item-author {
	font-size:12px;
	line-height:14px;
	float:left;
	width:130px;
}

#query {
  border: solid 1px #bee620;
	font-size:24px;
  color: #00333C;
  width:375px;
  height:28px;
}

#results-info {
  height:25px;
}

#search-results {
	height:200px;
	margin-top:25px;
}
