/* PARALLAX SCROLLING EXPERIMENT
Master Styles
Author: Jonathan Nicol (f6design.com)
*****************************************************************/


/* Global reset
http://meyerweb.com/eric/tools/css/reset/ 
*****************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Extended base styles (site specific)
*****************************************************************/

html { 
    /* overflow-y: scroll; always force a scrollbar in non-IE */
}
body {
    /*background: #00333c;*/
    /*background: #e7fafe;*/
    background: #fff;
    overflow-x: hidden;
    /*height: 4350px;*/
    line-height: 1.5;
    color: #000;
    font-size: 14px;
    font-family: Arial,sans-serif;
}
h1 {
    color: #11cbf7;
}
a, a:link,
a:active,
a:visited {
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
    color:#11cbf7;
    outline: none;
    text-decoration:none;
}
a:hover { 
    color:#07a8ce;
}
img { 
    display:block;
}
p {
    margin:0;
}

/* Page structure
*****************************************************************/

#wrapper {
    position: relative;
}
#branding {
    width: 100%;
    background: #bee620;
}
#branding h1 {
    width: 940px;
    padding: 10px 15px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
#feeds img {
    position:relative;
    float:right;
    height:28px;
    margin:8px 8px 0 0;
    z-index:6;
}

#branding a:hover {
	color:#11cbf7;
	text-decoration:none;
}

#feeds ul {
    margin-right:6px;   
}

#feeds li {
    position:relative;
    float:right;
    color: #11cbf7;
    padding:12px 4px;
    z-index:6;
}

/* Nav
*****************************************************************/

nav#primary {
    z-index: 5;
    position: fixed;
    top: 30%;
    right: 16px;
    margin-top: -40px;
}
nav#primary li {
    position: relative;
    height: 40px;
}
nav#primary a {
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    background: transparent url('../images/nav-dot.png') 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
    background: transparent url('../images/nav-dot.png') 4px -32px no-repeat;
}
nav#primary h1 {
    position: absolute;
    right: 38px;
    top: 7px;
    display: none;
    padding: 4px 20px 4px 7px;;
    color: #fff;
    white-space: nowrap;
    background: transparent url('../images/nav-arrow.png') 100% 50% no-repeat;
}
nav.next-prev {
    margin: 10px 0 0 0;
    clear:both;
    float:left;
    width: 50%;
}
nav.filtering {
    float:left;
    margin-left:95px;
}
.left-right {
    float:left;
    display:block;
    margin-top:5px;
}
#search	p.num-found {
    width:150px;
    float:left;
    font-size:18px;
}
#search-results ul {
    clear:both;
}
a.prev,
a.next,
a.older,
a.newer{
    display: block;
    width: 30px;
    height: 22px;
    text-indent: -9999px;
}
a.left,
a.right{
    display: block;
    float:left;
    width: 22px;
    height: 30px;
    text-indent: -9999px;
}
a.prev, a.newer {
    margin: 0 95% 5px;
    background: transparent url('../images/scroll-arrow-up.png') 0 0 no-repeat;
}
a.prev:hover, a.newer:hover {
    background: transparent url('../images/scroll-arrow-up.png') 0 -22px no-repeat;
}
a.next, a.older {
    margin: 5px 95% 0;
    background: transparent url('../images/scroll-arrow-down.png') -1px 0 no-repeat;
}
a.next:hover, a.older:hover {
    background: transparent url('../images/scroll-arrow-down.png') -1px -22px no-repeat;
}
a.left {
    margin: 5px auto 5px auto;
    background: transparent url('../images/scroll-arrow-left.png') 0 0 no-repeat;
}
a.left:hover {
    background: transparent url('../images/scroll-arrow-left.png') -23px 0 no-repeat;
}
a.right {
    margin: 6px auto 0 15px;
    background: transparent url('../images/scroll-arrow-right.png') 0px 0 no-repeat;
}
a.right:hover {
    background: transparent url('../images/scroll-arrow-right.png') -22px 0px no-repeat;
}

span.filter {
    display:block;
    margin: 10px 0 0 20px;
    font-size:28px;
    color:#00333c;
    background: transparent url('../images/facet-dot.png') 0px -45px no-repeat;
    float:left;
    cursor:pointer;
    height:45px;
    width:45px;
    padding:0 0 0 11px;
}

span.filter:hover, span.filter.selected {
    color:#007992;
}
/* Parallax
*****************************************************************/

.extra-long {
    overflow-y: scroll; /* always force a scrollbar in non-IE */
    height: 3270px;
}

/* content */
#content {
    z-index: 4;
    position: relative;
    max-width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    line-height: 1.7;
}
#content article {
    width: 915px;
}

#content article.control {
    width:675px;
}
#recently-awesome, #most-awesome, #search, #about {
    padding-top: 35px;
}
#recently-awesome {
    position: absolute;
    top: 0px;
}
#most-awesome {
    position: absolute;
    top: 1090px;
}
#search {
    position: absolute;
    top: 2180px;
}
#content h1 {
    /*color:#bee620;*/
    color: #11cbf7;
    margin: 0 0 25px 0;
    font-size: 60px;
    font-weight:bold;
    line-height: 65px;
}
#content h2 {
    margin-top:20px;
    font-size: 30px;
    font-weight:bold;
    color:#333;
    
}
#about {
    position: absolute;
    top: 2180px;
    /*top: 3270px;*/
}
#search p, #about p {
    font-size:28px;
    line-height:32px;
    color:#00333c;
    width:600px;
    margin-bottom:8px;
}
p.bold {
    font-weight: 700;
}
#about p.small {
    font-size:18px;
}

#about img.org-logo {
  max-width: 550px;
  max-height: 150px;
}

#about p.tiny {
    font-size:12px;
}
/* foreground (ballons/landscape) */
#parallax-bg3 {
    z-index: 3;
    position: fixed;
    left: 75%; /* align left edge with center of viewport */
    top: 0;
    width: 940px;
    margin-left: -470px; /* move left by half element's width */
}
/* balloon */
#bg3-1 {
    position: absolute;
    top: -71px;
    left: 355px;
}
#bg3-2 {
    position: absolute;
    top: 812px;
    left: 412px;
}
#bg3-3 {
    position: absolute;
    top: 1628px;
    left: 322px;
}
#bg3-4 {
    position: absolute;
    top: 2700px;
    left: -285px;
}
/* midground (clouds) */
#parallax-bg2 {
    z-index: 2;
    position: fixed;
    left: 50%; /* align left edge with center of viewport */
    top: 0;
    width: 1200px;
    margin-left: -600px; /* move left by half element's width */
}
#bg2-1 {
    position: absolute;
    top: 162px;
    left: 200px;
}
#bg2-2 {
    position: absolute;
    top: 300px;
    left: 1150px;
}
#bg2-3 {
    position: absolute;
    top: 543px;
    left: -35px;
}
#bg2-4 {
    position: absolute;
    top: 1180px;
    left: 250px;
}
#bg2-5 {
    position: absolute;
    top: 900px;
    left: 825px;
}
/* background (clouds) */
#parallax-bg1 {
    z-index: 1;
    position: fixed;
    left: 50%; /* align left edge with center of viewport */
    top: 0;
    width: 1200px;
    margin-left: -600px; /* move left by half element's width */
}
#bg1-1 {
    position: absolute;
    top: 85px;
    left: -270px;
}
#bg1-2 {
    position: absolute;
    top: 440px;
    left: 755px;
}
#bg1-3 {
    position: absolute;
    top: 900px;
    left: -220px;
}
#bg1-4 {
    position: absolute;
    top: 1020px;
    left: 465px;
}

#recent {
    /*width:600px;*/
}

.item {
    display:block;
    color:#00333C;
    cursor:pointer;
    margin-bottom:15px;
    width:275px;
    height:175px;
    float:left;
    position:relative;
}

.item-cover {
    float:left;
    border:0px solid #999;
    margin:0 15px 15px 0;
    background-image:url('../images/faceUp-icons.png');
    background-repeat: no-repeat;
    height:160px;
    width:110px;
    background-position: -170px -4px;
    padding:0;
}

.item-details {
    padding: 5px 0 0 10px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);
    border-radius:4px;
    height:160px;
    z-index:13;
    border: solid 1px #bee620;
    margin-right:10px;
}

.item-title {
    font-size:15px;
    line-height:16px;
    max-height:120px;
    float:left;
    margin-bottom:8px;
    width:130px;
}

.item-author {
    font-size:12px;
    line-height:14px;
    float:left;
    width:130px;
}

.item-format {
    float:right;
    position:absolute;
    top: 130px;
    left: 235px;
    color: #00333C;
    font-size: 1.3333333333333333em;
}

#query {
    border: solid 1px #bee620;
    font-size:24px;
    color: #00333C;
    width:375px;
    height:28px;
}

#results-info {
    height:25px;
}

#search-results {
    height:200px;
    margin-top:25px;
}

/* Start signup form */

.signup p {
    font-size:22px;
    color:#00333c;
    margin: 25px 0 8px 0;
    font-weight:bold;
}

.signup input {
    width:275px;
}

.signup label {
 font-weight:bold;
 color:#333;
 margin-top:8px;
}

.signup-intro {
    color:#666;
    margin-bottom:20px;
}

/* End signup form */


/* Start -- Control center and auth pages */

.control h1 {
    padding-top:35px;
}

.control_list a {
    margin-left:15px;
    font-size: 22px;
    color: #000;
}

.control h3 {
  font-size:24px;
}

.control_list a:hover { 
    color:#07a8ce;
}

.widget-sample {
  margin-top:25px;
  margin-bottom:25px;
}

#widget-code {
  width: 315px;
  height:55px;
}

.common-table {
    font-size:12px;
    width:580px;
    text-align:left;
    border-collapse:collapse;
    margin:10px 0px 90px 0;
}

.common-table th {
    font-size:14px;
    border-bottom:1px solid #bee620;

}

.common-table td {
    padding:10px 2px 0;
}

.errorlist {
    color: #ec2d79;
}

#ui-datepicker-div {
    font-size: 82.5%;
}

#ui-datepicker-div select {
    height: 100%;
}

#analytics-query-from {
    margin-top:10px;
    margin-bottom:40px;
}

#analytics-query-from label {
    display: inline;
    margin-right:6px;
}

#analytics-query-from input {
    width: 100px;
}

#analytics-query-from input[type=text] {
    margin-right: 20px;
}

#analytics-query-from ul, ul li {
    margin-right: 5px;
    display: inline;
}

.query_table  {
    width:360px;
}

.query_table .name_col {
    min-width:200px;
    max-width:300px;
}

.query_table .num_awe_col {
    min-width:150px;
    max-width:250px;
}

.delete-confirm select {

    margin-right:15px;
}

/*Start -- delete item view */

#delete_items fieldset{
    width:  100%;
    margin-bottom: 35px;
}

#delete_items fieldset div{
    margin-bottom: 15px;
}

#delete_items input[type=checkbox] {
    float:left;
    margin-right: 12px;
}

#delete_items fieldset .title {
     font-size: 140%;
     line-height: 100%;
}

#delete_items fieldset .creator {
    margin-left: 25px;
    margin-right: 10px;
}
#delete_items fieldset .creator, .checked_in {
    color: #919191;
}

#filter_by_branch {
    margin-bottom:40px;
}

#filter_by_branch select {
    width:auto;
    margin-right:3px;
}
/*End -- delete item view */


/* End -- Control center page */

/*  Font Awesome
the iconic font designed for use with Twitter Bootstrap
-------------------------------------------------------
The full suite of pictographic icons, examples, and documentation
can be found at: http://fortawesome.github.com/Font-Awesome/

License
-------------------------------------------------------
The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
http://creativecommons.org/licenses/by/3.0/ A mention of
'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
source code is considered acceptable attribution (most common on the web).
If human readable source code is not available to the end user, a mention in
an 'About' or 'Credits' screen is considered acceptable (most common in desktop
or mobile software).

Contact
-------------------------------------------------------
Email: dave@davegandy.com
Twitter: http://twitter.com/fortaweso_me
Work: http://lemonwi.se co-founder

*/
@font-face {
    font-family: "FontAwesome";
    src: url('../font/fontawesome-webfont.eot');
    src: url('../font/fontawesome-webfont.eot?#iefix') format('eot'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*  Font Awesome styles
------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
}
a [class^="icon-"], a [class*=" icon-"] {
    display: inline-block;
    text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
    vertical-align: top;
    font-size: 1.3333333333333333em;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
    /* keeps button heights with and without icons the same */

    line-height: .9em;
}
li [class^="icon-"], li [class*=" icon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
    /* 1.5 increased font size for icon-large * 1.25 width */

    width: 1.875em;
}
li[class^="icon-"], li[class*=" icon-"] {
    margin-left: 0;
    list-style-type: none;
}
li[class^="icon-"]:before, li[class*=" icon-"]:before {
    text-indent: -2em;
    text-align: center;
}
li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
    text-indent: -1.3333333333333333em;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */
.icon-glass:before                { content: "\f000"; }
.icon-music:before                { content: "\f001"; }
.icon-soundrecording:before       { content: "\f001"; }
.icon-search:before               { content: "\f002"; }
.icon-envelope:before             { content: "\f003"; }
.icon-heart:before                { content: "\f004"; }
.icon-star:before                 { content: "\f005"; }
.icon-star-empty:before           { content: "\f006"; }
.icon-user:before                 { content: "\f007"; }
.icon-film:before                 { content: "\f008"; }
.icon-videofilm:before            { content: "\f008"; }
.icon-th-large:before             { content: "\f009"; }
.icon-th:before                   { content: "\f00a"; }
.icon-th-list:before              { content: "\f00b"; }
.icon-ok:before                   { content: "\f00c"; }
.icon-remove:before               { content: "\f00d"; }
.icon-zoom-in:before              { content: "\f00e"; }

.icon-zoom-out:before             { content: "\f010"; }
.icon-off:before                  { content: "\f011"; }
.icon-signal:before               { content: "\f012"; }
.icon-cog:before                  { content: "\f013"; }
.icon-trash:before                { content: "\f014"; }
.icon-home:before                 { content: "\f015"; }
.icon-file:before                 { content: "\f016"; }
.icon-time:before                 { content: "\f017"; }
.icon-road:before                 { content: "\f018"; }
.icon-download-alt:before         { content: "\f019"; }
.icon-download:before             { content: "\f01a"; }
.icon-upload:before               { content: "\f01b"; }
.icon-inbox:before                { content: "\f01c"; }
.icon-play-circle:before          { content: "\f01d"; }
.icon-repeat:before               { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before              { content: "\f021"; }
.icon-list-alt:before             { content: "\f022"; }
.icon-lock:before                 { content: "\f023"; }
.icon-flag:before                 { content: "\f024"; }
.icon-headphones:before           { content: "\f025"; }
.icon-volume-off:before           { content: "\f026"; }
.icon-volume-down:before          { content: "\f027"; }
.icon-volume-up:before            { content: "\f028"; }
.icon-qrcode:before               { content: "\f029"; }
.icon-barcode:before              { content: "\f02a"; }
.icon-tag:before                  { content: "\f02b"; }
.icon-tags:before                 { content: "\f02c"; }
.icon-book:before                 { content: "\f02d"; }
.icon-bookmark:before             { content: "\f02e"; }
.icon-print:before                { content: "\f02f"; }

.icon-camera:before               { content: "\f030"; }
.icon-font:before                 { content: "\f031"; }
.icon-bold:before                 { content: "\f032"; }
.icon-italic:before               { content: "\f033"; }
.icon-text-height:before          { content: "\f034"; }
.icon-text-width:before           { content: "\f035"; }
.icon-align-left:before           { content: "\f036"; }
.icon-align-center:before         { content: "\f037"; }
.icon-align-right:before          { content: "\f038"; }
.icon-align-justify:before        { content: "\f039"; }
.icon-list:before                 { content: "\f03a"; }
.icon-indent-left:before          { content: "\f03b"; }
.icon-indent-right:before         { content: "\f03c"; }
.icon-facetime-video:before       { content: "\f03d"; }
.icon-picture:before              { content: "\f03e"; }

.icon-pencil:before               { content: "\f040"; }
.icon-map-marker:before           { content: "\f041"; }
.icon-adjust:before               { content: "\f042"; }
.icon-tint:before                 { content: "\f043"; }
.icon-edit:before                 { content: "\f044"; }
.icon-share:before                { content: "\f045"; }
.icon-check:before                { content: "\f046"; }
.icon-move:before                 { content: "\f047"; }
.icon-step-backward:before        { content: "\f048"; }
.icon-fast-backward:before        { content: "\f049"; }
.icon-backward:before             { content: "\f04a"; }
.icon-play:before                 { content: "\f04b"; }
.icon-pause:before                { content: "\f04c"; }
.icon-stop:before                 { content: "\f04d"; }
.icon-forward:before              { content: "\f04e"; }

.icon-fast-forward:before         { content: "\f050"; }
.icon-step-forward:before         { content: "\f051"; }
.icon-eject:before                { content: "\f052"; }
.icon-chevron-left:before         { content: "\f053"; }
.icon-chevron-right:before        { content: "\f054"; }
.icon-plus-sign:before            { content: "\f055"; }
.icon-minus-sign:before           { content: "\f056"; }
.icon-remove-sign:before          { content: "\f057"; }
.icon-ok-sign:before              { content: "\f058"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-info-sign:before            { content: "\f05a"; }
.icon-screenshot:before           { content: "\f05b"; }
.icon-remove-circle:before        { content: "\f05c"; }
.icon-ok-circle:before            { content: "\f05d"; }
.icon-ban-circle:before           { content: "\f05e"; }

.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-right:before          { content: "\f061"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-share-alt:before            { content: "\f064"; }
.icon-resize-full:before          { content: "\f065"; }
.icon-resize-small:before         { content: "\f066"; }
.icon-plus:before                 { content: "\f067"; }
.icon-minus:before                { content: "\f068"; }
.icon-asterisk:before             { content: "\f069"; }
.icon-exclamation-sign:before     { content: "\f06a"; }
.icon-gift:before                 { content: "\f06b"; }
.icon-leaf:before                 { content: "\f06c"; }
.icon-fire:before                 { content: "\f06d"; }
.icon-eye-open:before             { content: "\f06e"; }

.icon-eye-close:before            { content: "\f070"; }
.icon-warning-sign:before         { content: "\f071"; }
.icon-plane:before                { content: "\f072"; }
.icon-calendar:before             { content: "\f073"; }
.icon-random:before               { content: "\f074"; }
.icon-comment:before              { content: "\f075"; }
.icon-magnet:before               { content: "\f076"; }
.icon-chevron-up:before           { content: "\f077"; }
.icon-chevron-down:before         { content: "\f078"; }
.icon-retweet:before              { content: "\f079"; }
.icon-shopping-cart:before        { content: "\f07a"; }
.icon-folder-close:before         { content: "\f07b"; }
.icon-folder-open:before          { content: "\f07c"; }
.icon-resize-vertical:before      { content: "\f07d"; }
.icon-resize-horizontal:before    { content: "\f07e"; }

.icon-bar-chart:before            { content: "\f080"; }
.icon-twitter-sign:before         { content: "\f081"; }
.icon-facebook-sign:before        { content: "\f082"; }
.icon-camera-retro:before         { content: "\f083"; }
.icon-key:before                  { content: "\f084"; }
.icon-cogs:before                 { content: "\f085"; }
.icon-comments:before             { content: "\f086"; }
.icon-thumbs-up:before            { content: "\f087"; }
.icon-thumbs-down:before          { content: "\f088"; }
.icon-star-half:before            { content: "\f089"; }
.icon-heart-empty:before          { content: "\f08a"; }
.icon-signout:before              { content: "\f08b"; }
.icon-linkedin-sign:before        { content: "\f08c"; }
.icon-pushpin:before              { content: "\f08d"; }
.icon-external-link:before        { content: "\f08e"; }

.icon-signin:before               { content: "\f090"; }
.icon-trophy:before               { content: "\f091"; }
.icon-github-sign:before          { content: "\f092"; }
.icon-upload-alt:before           { content: "\f093"; }
.icon-lemon:before                { content: "\f094"; }
.icon-phone:before                { content: "\f095"; }
.icon-check-empty:before          { content: "\f096"; }
.icon-bookmark-empty:before       { content: "\f097"; }
.icon-phone-sign:before           { content: "\f098"; }
.icon-twitter:before              { content: "\f099"; }
.icon-facebook:before             { content: "\f09a"; }
.icon-github:before               { content: "\f09b"; }
.icon-unlock:before               { content: "\f09c"; }
.icon-credit-card:before          { content: "\f09d"; }
.icon-rss:before                  { content: "\f09e"; }

.icon-hdd:before                  { content: "\f0a0"; }
.icon-bullhorn:before             { content: "\f0a1"; }
.icon-bell:before                 { content: "\f0a2"; }
.icon-certificate:before          { content: "\f0a3"; }
.icon-hand-right:before           { content: "\f0a4"; }
.icon-hand-left:before            { content: "\f0a5"; }
.icon-hand-up:before              { content: "\f0a6"; }
.icon-hand-down:before            { content: "\f0a7"; }
.icon-circle-arrow-left:before    { content: "\f0a8"; }
.icon-circle-arrow-right:before   { content: "\f0a9"; }
.icon-circle-arrow-up:before      { content: "\f0aa"; }
.icon-circle-arrow-down:before    { content: "\f0ab"; }
.icon-globe:before                { content: "\f0ac"; }
.icon-wrench:before               { content: "\f0ad"; }
.icon-tasks:before                { content: "\f0ae"; }

.icon-filter:before               { content: "\f0b0"; }
.icon-briefcase:before            { content: "\f0b1"; }
.icon-fullscreen:before           { content: "\f0b2"; }

.icon-group:before                { content: "\f0c0"; }
.icon-link:before                 { content: "\f0c1"; }
.icon-cloud:before                { content: "\f0c2"; }
.icon-beaker:before               { content: "\f0c3"; }
.icon-cut:before                  { content: "\f0c4"; }
.icon-copy:before                 { content: "\f0c5"; }
.icon-paper-clip:before           { content: "\f0c6"; }
.icon-save:before                 { content: "\f0c7"; }
.icon-sign-blank:before           { content: "\f0c8"; }
.icon-reorder:before              { content: "\f0c9"; }
.icon-list-ul:before              { content: "\f0ca"; }
.icon-list-ol:before              { content: "\f0cb"; }
.icon-strikethrough:before        { content: "\f0cc"; }
.icon-underline:before            { content: "\f0cd"; }
.icon-table:before                { content: "\f0ce"; }

.icon-magic:before                { content: "\f0d0"; }
.icon-truck:before                { content: "\f0d1"; }
.icon-pinterest:before            { content: "\f0d2"; }
.icon-pinterest-sign:before       { content: "\f0d3"; }
.icon-google-plus-sign:before     { content: "\f0d4"; }
.icon-google-plus:before          { content: "\f0d5"; }
.icon-money:before                { content: "\f0d6"; }
.icon-caret-down:before           { content: "\f0d7"; }
.icon-caret-up:before             { content: "\f0d8"; }
.icon-caret-left:before           { content: "\f0d9"; }
.icon-caret-right:before          { content: "\f0da"; }
.icon-columns:before              { content: "\f0db"; }
.icon-sort:before                 { content: "\f0dc"; }
.icon-sort-down:before            { content: "\f0dd"; }
.icon-sort-up:before              { content: "\f0de"; }

.icon-envelope-alt:before         { content: "\f0e0"; }
.icon-linkedin:before             { content: "\f0e1"; }
.icon-undo:before                 { content: "\f0e2"; }
.icon-legal:before                { content: "\f0e3"; }
.icon-dashboard:before            { content: "\f0e4"; }
.icon-comment-alt:before          { content: "\f0e5"; }
.icon-comments-alt:before         { content: "\f0e6"; }
.icon-bolt:before                 { content: "\f0e7"; }
.icon-sitemap:before              { content: "\f0e8"; }
.icon-umbrella:before             { content: "\f0e9"; }
.icon-paste:before                { content: "\f0ea"; }

.icon-user-md:before              { content: "\f200"; }