body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:1.6em;
}

.container {
	max-width:1170px;
}

/* For devices larger than 1190px */
@media (min-width: 1190px) {
	.container {
		width:100%;
	}
}

/* For devices larger than 550px */
@media (min-width: 550px) {
	.container {
		width:90%;
	}
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=4.4.0');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../font/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-amazon:before {
  content: "\f270";
}

h4, h5 {
	color:#999;
	text-transform:uppercase;
}

#lookup {
	border:1px solid #444;
	background-color:#eee;
	padding:25px;
	height:130px;
	box-sizing:border-box;
}

#lookup p.error {
	margin-bottom:0px;
	color:#CE023B;
}

#lookup p.success {
	margin-bottom:0px;
	color:#17ab47;
}

.build-shelf-title {
	margin-bottom:0px;
}

.build-shelf-title input {
	width:100%;
	font-size:1.8em;
	height:48px;
}

.build-shelf-permalink {
	font-size:.8em;
	margin-bottom:.5em;
}

.build-shelf-permalink input {
	height:28px;
	margin-left:3px;
	padding:5px 10px;
}

.build-shelf-description textarea {
	width:100%;
}

ul.errorlist {
	list-style:none;
	color:#CE023B;
}

#build-shelf-message{
	color:#17ab47;
}

.item {
	float:left;
	height:460px;
	width:270px;
	padding:20px;
	margin-right:10px;
	margin-bottom:10px;
	border:1px solid #888;
	box-sizing: border-box;
}

.item.deleted-item {
	border-color:#CE023B;
}

.item .item-cover {
	max-width:150px;
	max-height:160px;
}

.item .item-cover-container {
	height:175px;
}

.item input[type="text"] {
	width:100%;
}