body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:1.6em;
}

.container {
	max-width:1170px;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=4.4.0');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../font/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-amazon:before {
  content: "\f270";
}

a {
  color: #66B562;
  text-decoration:none; }
a:hover {
  color: #53a74e; }
  
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #66B562;
  border-color: #66B562; }
  
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #53a74e;
  border-color: #53a74e; }

h4, h5 {
	color:#999;
	text-transform:uppercase;
}

/* shelf styles */

.item {
	float:left;
	margin-right:20px;
	width:260px;
	position:relative;
}

.item-cover {
	max-width:100%;
	max-height:325px;
	min-height:130px;
}

.item-cover-backup {
	position: absolute;
	top: 30px;
	left: 30px;
	bottom: 0px;
	right: 0px;
	z-index: -1;
	overflow: hidden;
	font-size: 1.2em;
	width: 180px;
	height: 100px;
	border: 2px solid #AEB1B8;
	box-sizing:border-box;
	padding:20px;
}

.item-cover-title {
}

.item-title {
	margin-bottom:0px;
}

.item-author {
	font-size:.9em;
	color:#888;
}

.fa-amazon {
	float:right;
	line-height:1.6em;
	color:#AEB1B8;
}

/* For devices larger than 1190px */
@media (min-width: 1190px) {
	.container {
		width:100%;
	}
}

/* For devices larger than 550px */
@media (min-width: 700px) {
	.item {
		height:400px;
	}
	.item-cover-container {
		height:330px;
	}
	.shelf-description {
		margin-bottom:25px;
	}
	.org-link {
		float:right;
		margin-top:10px;
	}
}

/* shelf builder styles */

#lookup {
	border:1px solid #444;
	background-color:#eee;
	padding:25px;
	height:130px;
	box-sizing:border-box;
}

#lookup p.error {
	margin-bottom:0px;
	color:#CE023B;
}

#lookup p.success {
	margin-bottom:0px;
	color:#17ab47;
}

.build-shelf-title {
	margin-bottom:0px;
}

.build-shelf-title input {
	width:100%;
	font-size:1.8em;
	height:48px;
}

.build-shelf-permalink {
	font-size:.8em;
	margin-bottom:.5em;
}

.build-shelf-permalink input {
	height:28px;
	margin-left:3px;
	padding:5px 10px;
}

.build-shelf-description textarea {
	width:100%;
}

ul.errorlist {
	list-style:none;
	color:#CE023B;
}

#build-shelf-message{
	color:#17ab47;
}

.build-item {
	float:left;
	height:460px;
	width:270px;
	padding:20px;
	margin-right:10px;
	margin-bottom:10px;
	border:1px solid #888;
	box-sizing: border-box;
	cursor:grab;
}

.build-item.deleted-item {
	border-color:#CE023B;
}

.build-item .item-cover {
	max-width:150px;
	max-height:160px;
}

.build-item .item-cover-container {
	height:175px;
}

.build-item input[type="text"] {
	width:100%;
}