{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Awesome Box{% endblock title %}</title>
	<link rel="icon" href="{{ STATIC_PREFIX }}images/favicon.ico" type="image/x-icon">
	{% block styles %}{% endblock styles %}
	{% block scripts %}{% endblock scripts %}
	{% block extrahead %}{% endblock extrahead %}
</head>

<body>
	<div id="wrapper">
		{% block content %}{% endblock content %}
	</div>
	{% include "partials/footer.html" %}

	{% block templates %}{% endblock templates %}

	{% block extrascripts %}{% endblock extrascripts %}
</body>
</html>